<html>

<body>
	<div class="weekprogress">
		<div class="header">
			<div class="space"> </div>
			<div class="title">This Week's Plans</div>
		</div>
		<div class="top">
			<div class="topPound">#interview</div>
		</div>
		<div class="topContents">
			<div class="push"> </div>
			<div class="lighTop">
				<div class="boldTop"></div>
			</div>
			<div class="topHour">4 HRS</div>
		</div>
		<div class="midContainer">
			<div class="midPound">#coverletter</div>
		</div>
		<div class="midContents">
			<div class="spaceTwo"> </div>
			<div class="lightMid">
				<div class="boldMid"></div>
			</div>
			<div class="midHour">3 HRS</div>
		</div>
		<div class="botContainer">
			<div class="botPound">#internapps</div>
		</div>
		<div class="botContainer">
			<div class="spaceThree"> </div>
			<div class="lightBot">
				<div class="boldBot"></div>
			</div>
			<div class="botHour">2 HRS</div>
		</div>
	</div>
</body>

</html>